#sliders > li > div {
  width:120px;
  height:10px;
  /*float:left;*/
  margin:10px;
  display:inline-block;
}

#sliders {
  /*-webkit-column-count: 3; /* Chrome, Safari, Opera */
  /*-moz-column-count: 3; /* Firefox */
  /*column-count: 3;  */
}

#sliders > ul > li > label {
    float:left;
    display:block;
}

#sliders {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

li {
    list-style-type: none;    
}

#first-four > li {
    display: inline;
    padding: 10px;
}

.jQBracket > .tools {
    display: none;
}